@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  background-color: white;
  color: #0C0E21;
  font: 18px "Source Sans Pro", sans-serif;
  height: 100%;
}

header {
  box-shadow: #0C0E21 0 0 20px -10px;
  background-color: #66ac9a;
  padding: 0 5%;
  display: flex;
  width: 100%;
}

header img {
  display: inline-block;
  height: 100px;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  flex: 1 0 auto;
}

.row {
  display: flex;
  justify-content: start;
}

.col-50,
.col-100 {
  padding: 30px;
  margin: 20px;
  box-shadow: #0C0E21 0 0 10px 0px;
}

.col-50 {
  width: 50%;
}

.col-100 {
  width: 100%;
}

.no-border {
  border: none;
  box-shadow: none;
}

h1 {
  color:#69163e;
  border-bottom: 5px solid #69163e;
  font: 1.5rem "Koulen", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 15px 0 0 15px;
}

h2 {
  color:#69163e;
  border-bottom: 5px solid #69163e;
  font: 1.2rem "Koulen", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 15px 0 0 15px;
}

dl {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.input-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

dd, dt {
  display: inline-block;
  width: 50%;
}

input, select {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  padding: 7px;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-previewed {
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px !important;
  background-color: white !important;
}

button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #d16535, #cb4a25);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  padding: 5px;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  width: 100%;
  border: 0;
  transition: box-shadow .2s;
  margin-bottom: 10px;
}

button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

button:disabled {
  cursor: default;
  background-image: none;
  background-color: darkgrey;
  box-shadow: none;
  border: 1px solid rgb(90, 90, 90);
}

.action-button-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button-container button {
  display: block;
  max-width: 150px;
  height: 50px;
}

.subnet-inputs {
  display: inline-block;
  width: 50%;
}

.subnet-inputs > dd {
  width: 100%;
  margin-top: 5px;
}

footer {
  background-color: #66ac9a;
  box-shadow: #0C0E21 0 0 20px -10px;
  padding: 5px 20px;
  display: flex;
  justify-content: end;
}

footer a {
  color: #cb4a25;
  text-decoration: none;
}

.deploy-config-container {
  display: flex;
  flex-direction: row;
}

.deploy-config-container dl{
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.deploy-config-container dl .input-line {
  min-width: 45%;
  max-width: 40%;
}

.service-box {
  width: 200px;
  height: 150px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: #0C0E21 0 0 10px 0px;
  line-height: 1.25rem;
}

.service-box p {
  font-size: 14px;
}

strong {
  font-weight: 600;
  font: 1.5rem "Koulen", sans-serif;
}

em {
  font-style: italic;
}

.service-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status-update-line {
  box-shadow: #0C0E21 0 0 10px 0px;
  line-height: 2rem;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#loading-gif {
  border-radius: 5px;
  width: 36px;
}

.loading-div {
  width: 100%;
  height: 50px;
}

.traffic-weight-text {
  font-weight: 600;
  font-size: 18px !important;
  line-height: 2rem;
}