@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html {
  background-color: #66ac9a;
  color: #0C0E21;
  font: 18px "Value Sans Pro", sans-serif;
  height: 100%;
}

#root {
  position: relative;
  padding-bottom: 100px;
}

.header {
  box-shadow: #0C0E21 0 0 20px -10px;
  background-color: white;
  padding: 0 5%;
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 1000px;
  width: 100%;
}

.header img {
  display: inline-block;
  height: 100px;
}

.main {
  display: flex;
  justify-content: center;
}

.forms {
  box-shadow: #0C0E21 0 0 10px 0px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 100%;
}

h1 {
  color:#69163e;
  border-bottom: 5px solid #69163e;
  font: 1.5rem "Koulen", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 15px 0 0 15px;
}

.form-box {
  padding: 10px;
}

.form-box p {
  border-bottom: 2px solid #0C0E21;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

dl {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.input-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

dd, dt {
  display: inline-block;
  width: 50%;
}

input, select {
  background-color: #85bdae;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  padding: 7px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-previewed {
    background-color: #85bdae !important;
    box-shadow: 0 0 0 30px #85bdae inset, rgba(0, 0, 0, 0.3) 0 2px 4px !important;
    -webkit-box-shadow: 0 0 0 30px #85bdae inset, rgba(0, 0, 0, 0.3) 0 2px 4px !important;
}

.button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #d16535, #cb4a25);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  padding: 5px;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  width: 100%;
  border: 0;
  transition: box-shadow .2s;
}

.button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.subnet-inputs {
  display: inline-block;
  width: 50%;
}

.subnet-inputs > dd {
  width: 100%;
  margin-top: 5px;
}

input, select {
  width: 100%;
}

.deployment-event-list {
  border: 5px solid #69163e;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 100%;
}

.deployment-event-list :nth-last-child(2) {
  font-weight: bold;
}

.deployment-event {
  display: block;
  margin-bottom: 10px;
}

.loading-gif {
  max-height: 250px;
}

.footer {
  box-shadow: #0C0E21 0 0 20px -10px;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  background-color: white;
  padding: 15px 0;
  text-align: center;
}

.footer a {
  color: #cb4a25;
  text-decoration: none;
}