@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html {
  background-color: #66ac9a;
  color: #0C0E21;
  font: 18px "Value Sans Pro", sans-serif;
}

body {
  margin: 5%;
}

h1 {
  font: 2.5rem "Koulen", sans-serif;
  margin: 10px;
}

.input-line {
  border-top: 1px solid #0C0E21;
  display: block;
  padding: 10px;
}

dd, dt {
  display: inline-block;
  width: 45%;
}

.subnet-inputs {
  display: inline-block;
  width: 45%;
}

.subnet-inputs > dd {
  width: 100%;
}

dd, .subnet-inputs {
  float: right;
}

input, select {
  width: 100%;
}